body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-wrap {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* @media only screen and (max-width: 600px) {
  .page-wrap {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
}
@media only screen and(max-width: 800px) {
  .page-wrap {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
  }
} */
@media only screen and (min-width: 1224px) {
  html {
    background-color: white;
  }
}
@media only screen and (max-width: 1224px) {
  html {
    background-color: lightgray;
  }
}
.card {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 1rem;
  height: 4rem;
}
.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
